$bg:  #1b1b1b;
$bg0: #2c2c2c;

$red: #B00020;
$green: #36b300;
$orange: #b35f00;
$blue: #008fb3;

@font-face {
  font-family: "Roboto Mono";
  src: url(RobotoMono-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Roboto Mono Bold";
  src: url(RobotoMono-Bold.ttf) format("truetype");
}

html, body {
  margin: 0;
  padding: 0;
  background: $bg;
  color: white;
  font-family: "Roboto Mono", monospace;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}

.icon {
  height: 1.5rem;
  padding: .875rem;
  padding-right: 0;
  vertical-align: text-bottom;
}

a {
  color: white;
}

.input {
  margin: 2rem 0;
}

input {
  background: $bg0;
  border: none;
  height: 2.5rem;
  box-sizing: border-box;
  padding-left: .75rem;
  color: white;
}

.tldr div {
  padding: 0.4rem 0;
}

.tldr .error {
  color: lighten($red, 20);
}

.tldr .warning {
  color: lighten($orange, 20);
}

.tldr .info {
  color: lighten($blue, 20);
}

.block, .error {
  width: 90vw;
  margin-bottom: 3rem;
  border: none;
}

.head .icon {
  opacity: 0;
}

.connection, .dns {
  margin: 3rem 0;
}

.dns {
  .table .header {
    font-weight: bold;
    box-shadow: none;
    display: flex;
  }

  .col {
    padding: 1rem 1.5rem;
    width: 25%;
  }
}

.connection.err {
  color: $red;
}

.table {
  border-spacing: 0 15px;
  box-sizing: border-box;
  width: 100%;

  .row, .head {
    background-color: $bg0;
    margin-bottom: 1rem;
    text-align: left;
    display: flex;
    box-shadow: 0 1px 1px rgba(0,0,0,.15);
  }

  .head {
    padding: 1rem 1.5rem;
    margin: 0;
    background-color: transparent;
    font-weight: bold;
    box-shadow: none;
  }

  .col {
    flex: 1 1 auto;
    padding: 1rem;
  }

  .bool {
    flex-basis: 10vw;
    flex: 0 1 auto;
  }

  .toggle {
    cursor: pointer;
  }

  .bool {
    color: white;
    text-align: center;
    width: 10vw;
  }

  .true {
    background: $green;
  }

  .false {
    background: $red;
  }

  .warn {
    background: $orange;
  }

  .info {
    background: $blue;
  }

  .tree-1 {
    margin-left: 3vw;
  }

  .tree-2 {
    margin-left: 6vw;
  }

  .tree-3 {
    margin-left: 9vw;
  }

}

.infoRow .false, .infoRow .true {
  background: lighten($bg0, 10);
}


.sk-cube-grid {
  display: inline-block;
  width: 2.5rem;
  height: 2.5rem;
  vertical-align: top;
  position: relative;
  box-shadow: 0 1px 1px rgba(0,0,0,.15);

  span {
    position: absolute;
    line-height: 2.5rem;
    width: 100%;
    left: 0;
    text-align: center;
    color: $bg0;
    cursor: pointer;
    z-index: 2;
  }

  .sk-cube {
    width: (100% / 3);
    height: (100% / 3);
    background-color: white;
    float: left;
  }
}

.sk-cube-grid.active {
  span {
    display: none;
  }

  .sk-cube {
    -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
            animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;

    .sk-cube1 {
      -webkit-animation-delay: 0.2s;
              animation-delay: 0.2s; }
    .sk-cube2 {
      -webkit-animation-delay: 0.3s;
              animation-delay: 0.3s; }
    .sk-cube3 {
      -webkit-animation-delay: 0.4s;
              animation-delay: 0.4s; }
    .sk-cube4 {
      -webkit-animation-delay: 0.1s;
              animation-delay: 0.1s; }
    .sk-cube5 {
      -webkit-animation-delay: 0.2s;
              animation-delay: 0.2s; }
    .sk-cube6 {
      -webkit-animation-delay: 0.3s;
              animation-delay: 0.3s; }
    .sk-cube7 {
      -webkit-animation-delay: 0s;
              animation-delay: 0s; }
    .sk-cube8 {
      -webkit-animation-delay: 0.1s;
              animation-delay: 0.1s; }
    .sk-cube9 {
      -webkit-animation-delay: 0.2s;
              animation-delay: 0.2s; }
  }

  @-webkit-keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1);
    }
  }

  @keyframes sk-cubeGridScaleDelay {
    0%, 70%, 100% {
      -webkit-transform: scale3D(1, 1, 1);
              transform: scale3D(1, 1, 1);
    } 35% {
      -webkit-transform: scale3D(0, 0, 1);
              transform: scale3D(0, 0, 1);
    }
  }
}

.dns .error {
  color: $red;
}

.dns .body.error {
  color: lighten($red, 20);
}
